<div *ngIf="county; else elseBlock">
  <div class="card">
    <div class="card-header p-5 d-flex justify-content-center">
      <img
        style="max-width: 700px"
        src="{{ county.flag }}"
        class="card-img-top"
        alt="{{ county.flag }}"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ county.name }} megye</h5>
      <p class="card-text">
        Azonosító: {{ county.id }} <br />
        Név: {{ county.name }} megye <br />
        Régió: {{ county.region }} <br />
        Népesség: {{ county.populus }} <br />
        Székhely: {{ county.countySeat }} <br />
      </p>
    </div>
  </div>
</div>

<ng-template #elseBlock
  ><div class="text-center">
    <div
      class="spinner-border ms-auto h2 m-5 custom-spinner"
      role="status"
      aria-hidden="true"
    ></div></div
></ng-template>
